src/main/mule/implementations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementationsFlow" doc:id="9291af79-5158-4aae-bd33-9a69ebe0db23" >
		<db:select doc:name="Select" doc:id="c1209a5a-13b6-4291-86f7-6dd7f2e91270" config-ref="meetings_db">
			<db:sql ><![CDATA[SELECT * FROM `categories`]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="41dd5062-6efb-4db5-9487-3a229e13508b" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.id,
	name: payload.name
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
