src/main/mule/implementations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="getRolesByUserIdAndEventId" doc:id="f70d34c1-2cd9-49f0-8a82-604e2735dfd2" >
		<db:select doc:name="getFromDB" doc:id="4c9de421-0c61-473f-97a5-be6bcc60573d" config-ref="meetings_db">
			<db:sql><![CDATA[SELECT roles.id, roles.name
FROM users_events_roles, roles 
WHERE user_id = :id
AND role_id = roles.id
AND event_id = :event]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ 

'id': attributes.uriParams.user_id,
'event': attributes.uriParams.event_id 
 
 }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="transformJson" doc:id="4aa37afa-47e6-43b6-977d-a2310c64a43d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
{
	id: payload.id[0],
	name: payload.name[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="putRolesByUserIdAndEventId" doc:id="1c4a4423-6fc2-4f86-a0ac-0bcc5b7d5d4f">
		<db:update doc:name="Update" doc:id="076bd2e4-7a83-41e7-86f7-caec9f68df27" config-ref="meetings_db">
			<db:sql><![CDATA[
UPDATE users_events_roles SET role_id = :role
WHERE user_id = :id
AND event_id = :event]]></db:sql>
			<db:input-parameters><![CDATA[#[output application/java
---
{
	'role': payload.id,
	'id': attributes.uriParams.user_id,
	'event': attributes.uriParams.event_id
}]]]></db:input-parameters>
		</db:update>
	</flow>
	<flow name="getEvent" doc:id="1cc10062-69ab-4720-aa5f-69f1d548603a" >
		<db:select doc:name="Copy_of_getFromDB" doc:id="6b1df565-28d2-4b7b-acc5-6c07d4fd0658" config-ref="meetings_db" >
			<db:sql ><![CDATA[SELECT *
FROM events
WHERE id = :event_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'event_id': attributes.uriParams.event_id 
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_transformJson" doc:id="09de05a8-a006-463d-b2e2-2da1b0d6e3bb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
{
	id: payload.id,
	title: payload.title,
	description: payload.description,
	lat: payload.lat,
	lng: payload.lng,
	startDate: payload.startDate,
	endDate: payload.endDate,
	hidden: payload.hidden,
	status: {
		id: payload.status_id
	},
	category: {
		id: payload.category_id
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
